@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");

body {
  margin: 0;
  padding: 0;
  background: #0B0C10; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0B0C10, #1F262D); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0B0C10, #1F262D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: "Comfortaa", cursive;
}

.glass-container {
 /* From https://css.glass */
background: #45A29E;
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(10.2px);
-webkit-backdrop-filter: blur(10.2px);
border: 1px solid rgba(42, 72, 80, 0.9);
}